* 공공데이터 포털 도로교통공단_월별 주야별 교통사고 통계 : https://www.data.go.kr/data/15070318/fileData.do
* <a href="https://www.data.go.kr/data/15083033/fileData.do">소상공인시장진흥공단 상가(상권)정보 데이터 상세 | 공공데이터포털</a>
* glob : 유닉스 스타일 경로명 패턴 확장

glob - 유닉스 스타일 경로명 패턴 확장 - Python문서

# 1 절대 경로
* 정대경로는 어떠한 웹페이지나 파일이 가진 고유한 경로로 최상위 디렉토리가 포함된 경로
* 예) file:///Users/user/Downloads?
* 예) C:\user\documents

# 2 상대 경로
* 상대경로는 현재 위치한 곳을 기준으로 하는 경로입니다.
* / 는 루트
* ./ 는 현재 위치
* ../ 는 현재 위치의 상위 폴더
* ../../ 는 두 단계 위의 상위 폴더를 의미합니다.

In [2]:
# 실습 파일 경로 확인
%pwd

'C:\\kdt_0900_ksb\\dataAnalysis\\workspace'

In [4]:
import os
os.getcwd()

'C:\\kdt_0900_ksb\\dataAnalysis\\workspace'

In [14]:
from glob import glob

file_name = glob("data/*")[0]
file_name

'data\\도로교통공단_월별 주야별 교통사고 통계_20221231.csv'

In [5]:
import pandas as pd

In [15]:
pd.read_csv(file_name, encoding="cp949")

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   9588    90  2546  10464     792
1     1  야   6306   103  1690   6795     504
2     2  주   7575    78  2001   8228     657
3     2  야   4787    83  1300   4981     421
4     3  주   8322    96  2167   8783     600
5     3  야   5298    87  1473   5393     437
6     4  주  10472   112  2798  11475     961
7     4  야   6000   104  1680   6398     487
8     5  주  11749   136  3198  12531    1107
9     5  야   6316    99  1674   6676     586
10    6  주  10377   139  2746  11055     940
11    6  야   6104    92  1692   6396     600
12    7  주  10780   120  2802  11993    1032
13    7  야   6335   121  1697   6684     604
14    8  주  10360   124  2669  11560     953
15    8  야   6136   118  1632   6598     542
16    9  주  10799   146  2754  11810     967
17    9  야   6417   111  1694   6805     614
18   10  주  11590   168  3083  12795    1097
19   10  야   6918   117  1800   7384     616
20   11  주  10944   159  2838  11474    1017
21   11  야   6634    98  1706   7087     621
22   12  주  10416   133  2510  11547     920
23   12  야   6613   101  1565   7518     583

## 여러 파일을 한번에 로드하는 방법

In [23]:
# csv로 끝나는 모든 파일 가져오기
file_csv = glob("data/store/*.csv")
file_csv

['data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202312.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202312.csv']

In [ ]:
file_list = []
for file_csv_name in file_csv:
    print(file_csv_name)
    temp = pd.read_csv(file_csv_name, low_memory=False)
    file_list.append(temp)

In [37]:
len(file_list)

4

In [36]:
df = pd.concat(file_list)
df.shape

(973256, 39)

In [38]:
# 첫행포함 5개의 행 가져오기
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220805431369,행운쉼터,NaN,I1,숙박,I101,일반 숙박,I10103,펜션,I55104,...,4281032022008200005013654,NaN,강원특별자치도 인제군 북면 금강로 751,252826,24609,NaN,NaN,NaN,128.207086,38.171871
1,MA010120220805435795,선인상사홍천강주유소춘천방향,NaN,G2,소매,G214,연료 소매,G21401,주유소,G47711,...,4272038036102910000000001,NaN,강원특별자치도 홍천군 북방면 도사곡길 223,250883,25112,NaN,NaN,NaN,127.826278,37.713071
2,MA010120220805435835,하얏트모텔,NaN,I1,숙박,I101,일반 숙박,I10102,여관/모텔,I55102,...,4215013800108570005017474,NaN,강원특별자치도 강릉시 해안로 541,210380,25460,NaN,NaN,NaN,128.902638,37.807028
3,MA010120220805434488,비알호텔,NaN,I1,숙박,I101,일반 숙박,I10102,여관/모텔,I55102,...,4215010800101100005001077,NaN,강원특별자치도 강릉시 중앙시장3길 15-4,210050,25544,NaN,NaN,NaN,128.896573,37.751526
4,MA010120220805440070,네일뉴스,NaN,S2,수리·개인,S207,이용·미용,S20703,네일숍,S96119,...,4213011000108280005000001,NaN,강원특별자치도 원주시 금불1길 6-5,220938,26423,NaN,NaN,NaN,127.932883,37.348169

In [39]:
df.info

<bound method DataFrame.info of                       상가업소번호             상호명  지점명 상권업종대분류코드 상권업종대분류명  \
0       MA010120220805431369            행운쉼터  NaN        I1       숙박
1       MA010120220805435795  선인상사홍천강주유소춘천방향  NaN        G2       소매
2       MA010120220805435835           하얏트모텔  NaN        I1       숙박
3       MA010120220805434488            비알호텔  NaN        I1       숙박
4       MA010120220805440070            네일뉴스  NaN        S2    수리·개인
...                      ...             ...  ...       ...      ...
138540  MA010120220809351179          현대오토바이  NaN        S2    수리·개인
138541  MA010120220805383352   온천골가마솥국밥경북도청점  NaN        I2       음식
138542  MA0101202302A0075828          청도친구인력  NaN        N1  시설관리·임대
138543  MA010120220803851633        도리도리닭도리탕  NaN        I2       음식
138544  MA010120220814179145           베스트통신  NaN        G2       소매

       상권업종중분류코드  상권업종중분류명 상권업종소분류코드   상권업종소분류명 표준산업분류코드  ...  \
0           I101     일반 숙박    I10103         펜션   I55104  ...
1           G214     연료 소매    G21401        주유소   G47711  ...
2           I101     일반 숙박    I10102      여관/모텔   I55102  ...
3           I101     일반 숙박    I10102      여관/모텔   I55102  ...
4           S207     이용·미용    S20703        네일숍   S96119  ...
...          ...       ...       ...        ...      ...  ...
138540      S204  모터사이클 수리    S20401  모터사이클 수리업   S95220  ...
138541      I201        한식    I20102    국/탕/찌개류   I56111  ...
138542      N104     고용 알선    N10401     고용 알선업   N75110  ...
138543      I201        한식    I20101     백반/한정식   I56111  ...
138544      G208  가전·통신 소매    G20802    핸드폰 소매업   G47312  ...

                           건물관리번호   건물명                     도로명주소   구우편번호  \
0       4281032022008200005013654   NaN    강원특별자치도 인제군 북면 금강로 751  252826
1       4272038036102910000000001   NaN  강원특별자치도 홍천군 북방면 도사곡길 223  250883
2       4215013800108570005017474   NaN       강원특별자치도 강릉시 해안로 541  210380
3       4215010800101100005001077   NaN   강원특별자치도 강릉시 중앙시장3길 15-4  210050
4       4213011000108280005000001   NaN      강원특별자치도 원주시 금불1길 6-5  220938
...                           ...   ...                       ...     ...
138540  4725036025105430001038988   NaN    경상북도 상주시 외남면 석단로 939-2  742971
138541  4717034021113850000000001   NaN    경상북도 안동시 풍천면 풍요6길 29-3  760811
138542  4782036031106500004022141   NaN       경상북도 청도군 금천면 금천로 78  714872
138543  4711110100100180188117959  성은빌딩        경상북도 포항시 남구 상공로 81  790827
138544  4785025325110820002033945   NaN     경상북도 칠곡군 북삼읍 금오대로1길 1  718844

        신우편번호  동정보  층정보  호정보          경도         위도
0       24609  NaN  NaN  NaN  128.207086  38.171871
1       25112  NaN  NaN  NaN  127.826278  37.713071
2       25460  NaN  NaN  NaN  128.902638  37.807028
3       25544  NaN  NaN  NaN  128.896573  37.751526
4       26423  NaN  NaN  NaN  127.932883  37.348169
...       ...  ...  ...  ...         ...        ...
138540  37259  NaN  NaN  NaN  128.089427  36.358164
138541  36759  NaN    1  NaN  128.500179  36.576034
138542  38362  NaN  NaN  NaN  128.888500  35.694607
138543  37765  NaN  NaN  NaN  129.358611  36.015412
138544  39812  NaN  NaN  NaN  128.347027  36.069870

[973256 rows x 39 columns]>